* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./img/buraconegro.jpg);
}
h1 {
  text-align: center;
  color: #ecc883;
  font-family: "Open Sans", sans-serif;
}
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  background-color: white;
  color: black;
}
.alo {
  text-align: center;
}
h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
th,
td {
  border: solid 1px white;
}
table {
  text-align: center;
  border-collapse: collapse;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}
img {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
