* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ecc883;
}
body {
  background-image: url(./img/matt-gross-9aCkSl6YcXg-unsplash.jpg);
}
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  background-color: white;
  color: black;
}
.link {
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
  padding-top: 5%;
  font-family: "Open Sans", sans-serif;
}
form {
  color: white;
  text-align: center;
  display: block;
  padding-top: 5%;
  font-family: "Open Sans", sans-serif;
}
input {
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
button {
  padding: 11px 21px;
  font-family: "Open Sans", sans serif;
  font-weight: 600;
}
.form-add {
  padding-top: 2%;
}
