<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container">
    <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>
    <br />
    <p> Você pediu para alterar sua senha,correto?</p>
    <p>
        Nos alteramos sua senha e agora ela é {{password}}.
    </p>
    <br />
    <br />
    <h3>Att. | <strong>Cookenu</strong></h3>
</div>